<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Proficient in Python, SQL, and NoSQL, I'm passionate about data analysis, machine learning, cloud technologies, and data visualization. With a knack for extracting insights from complex datasets, I'm driven by curiosity and constantly exploring new technologies. Let's connect and explore the endless possibilities of data together!
            </p>
            <p class="paragraph-text justify-text">
                I'm also current student in Masters in Business Analysis and Big Data at IE School of Science and Technology.
            </p>
        </div>
    </section>
</div>
