<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                Achieved a top 1.2% ranking (approximately 9,500/750,000) in China's College Entrance Examination and scored 690 on the GMAT with a perfect math score; proficient in data analysis, machine learning and artificial intelligence
            </p>
            <p class="paragraph-text justify-text">
                Right now I am studying my master in Business Analytics and Big Data in IE University.
            </p>
        </div>
    </section>
</div>
