
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p class="paragraph-text center-align">
                        Passionate data analyst with a keen interest in various machine learning domains, including deep learning, natural language processing, and reinforcement learning. Equally enthusiastic about cloud technologies, having completed courses in AWS Academy Cloud Foundations. Eager to leverage expertise in both areas to drive innovation and solve complex challenges. 
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection">Technical Skills</h3>
                    <p class="paragraph-text center-align">
                        I. Python
                        II. Machine Learning
                            a. Reinforcement Learning
                            b. Clustering
                            c. Reinforcement Learning
                            d. Deep Neural Network
                        III. Cloud Foundations
                        IV. SQL
                        V. NoSQL - MongoDB
                        VI. Big data
                            a. Spark
                            b. NIFI
                    </p>
                </div>                
            </div>
        </div>
    </section>
</div>