
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="skills-subsection">Professional Experience</h3>
                    <div class="paragraph-text">
                        <p> <img src="assets/images/alibaba_logo.png" alt="Alibaba Logo" style="height:20px; vertical-align:middle; margin-right:8px;">
                            ALIEXPRESS, ALIBABA GROUP (FULLTIME)</p>
                        <p><ul>Affiliate Marketing</ul>
                        <ul>11/2024 - Present</ul></p>
                        <ul>
                            <li>• Affiliate Channel Development & Optimization: Responsible for business development and budget allocation for CSS and comparison site partners across Southern & Central Europe, setting investment strategies and performance goals to maximize ROI and accelerate regional growth.</li>
                            <li>• Data Infrastructure & Performance Monitoring: Designed and implemented an automated performance dashboard integrating FBI platform and internal databases, enabling real-time tracking of GMV, ROI, ACV, and CVR across all affiliate channels through bottom-table modeling and automated parameter configuration.</li>
                        </ul>
                        <p>AI CONTENT RECOMMENDATION OPTIMIZER</p>
                        <p><ul>Kwai Co.</ul>
                        <ul>04/2022 - 08/2022</ul></p>
                            <ul><li> • Strategic Market Analysis: Conducted in-depth analysis of Latin American user-generated content, identifying key trends
                                to inform content strategy and drive user engagement.</li>
                            <li>• Performance Optimization: Enhanced the platform's content recommendation system, directly impacting user retention
                                and satisfaction, contributing to increased platform usage and content consumption.</li>
                </div>
                <div class="technical-skills">
                    <h3 class="skills-subsection">Technical Skills</h3>
                    <div class="skills-container">
                        <div class="skill-item">
                            <p><img src="assets/images/python.svg" alt="Python Logo" class="logo"> Python</p>
                        </div>
                        <div class="skill-item">
                            <p><img src="assets/images/machinelearning.jpg" alt="MachineLearning Logo" class="logo">Machine Learning</p>
                            <ul>
                                <li>Classification</li>
                                <li>Clustering</li>
                                <li>Reinforcement Learning</li>
                                <li>Deep Neural Network</li>
                                <li>Natural Language Processing</li>
                            </ul>
                        </div>
                        <div class="skill-item">
                            <p><img src="assets/images/aws.png" alt="AWS Logo" class="logo"> Cloud Foundations</p>
                        </div>
                        <div class="skill-item">
                            <p><img src="assets/images/mysql.png" alt="MySQL Logo" class="logo"> SQL</p>
                        </div>
                        <div class="skill-item">
                            <p><img src="assets/images/mongodb.svg" alt="MongoDB Logo" class="logo"> NoSQL - MongoDB</p>
                        </div>
                        <div class="skill-item">
                            <p><img src="assets/images/bigdata.jpg" alt="Big Data Logo" class="logo">Big Data</p>
                            <ul>
                                <li><img src="assets/images/spark.svg" alt="Spark Logo" class="logo"> Spark</li>
                                <li><img src="assets/images/nifi.svg.png" alt="NIFI Logo" class="logo"> NIFI</li>
                            </ul>
                        </div>
                    </div>
                </div>                           
            </div>
        </div>
    </section>
</div>