
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="skills-subsection">Professional Experience</h3>
                    <div class="paragraph-text">
                        <p>Eco - Operator</p>
                        <p><ul>Kwai Co.</ul>
                        <ul>04/2022 - 08/2022</ul></p>
                            <ul><li>- Enhanced platform ecosystem by analyzing content from Latin American users and optimizing the pushing mechanism.</li>
                            <li>- Conducted audits of over 500 Spanish short videos daily, maintaining a 95% accuracy rate in quality control.</li>
                            <li>- Managed the final step of popular short video recommendations, determining official recommendations based on
                            ecological rules.</li></ul>
                </div>
                <div class="technical-skills">
                    <h3 class="skills-subsection">Technical Skills</h3>
                    <div class="paragraph-text">
                        <p>I. Python</p>
                        <p>II. Machine Learning</p>
                        <ul><li>Classification</li>
                            <li>Clustering</li>
                            <li>Reinforcement Learning</li>
                            <li>Deep Neural Network</li></ul>
                        <p>III. Cloud Foundations</p>
                        <p>IV. SQL</p>
                        <p>V. NoSQL - MongoDB</p>
                        <p>VI. Big data
                            <ul><li>Spark</li>
                            <li>NIFI</li></ul></p>
                    </div>
                </div>                
            </div>
        </div>
    </section>
</div>